      	*{
    		
    		box-sizing: border-box;
    	}

    	.column{
    		float: left;
    		width: 33.3%;
            padding: 8px;
    	}

    	.box{
           list-style: none;
           border: 1px solid yellow;
           margin: 0px;
           padding: 0px;
          -webkit-transition: 0.5s;
           transition: 0.5s;
    	}
		.box:hover{
			box-shadow: 0 18px 22px 0 rgba(26, 25, 25, 0.2);
		}

		.box .header{
			background-color: green;
			border-bottom: 1px solid white;
			padding: 20px;
			font-size: 25px;
			text-align: center;
		}
     .box .header:hover{
		 background-color: black;
		 color: white;
		 transition: 0.5s;
	 }
     .box li{
		 border-bottom: 1px solid white;
		 padding: 20px;
		 text-align: center;
	 }

	 .box .grey{
        background-color: #eee;	
		font-size: 20px;	 
	 }

	 .button{
		 background-color: rgb(179, 38, 3);
		 border: none;
		 color: white;
         text-decoration: none;
		 font-size:16px;
		 padding: 10px 20px;
		 border-radius: 10px;
	 }
  
  @media only screen and (max-width: 600px){
	  .column{
		  width: 100%;
	  }
  }
 
  